@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Inconsolata:wght@400;600&display=swap');

:root {
	--header-bg: rgba(0, 0, 0, 0.2);
	--main-bg: #1e272e;
	--main-fg: #edf0f3;
	--red: #de3040;
	--green: #05c46b;
	--orange: #f9b653;
	--pink: #f36eb7;
	--light-blue: #71cafd;
	--blue: #179fef;
	--light-gray: #bdbdbd;
	--dark-gray: #696867;
	--mono-normal: 400 14px 'Inconsolata', monospace;
	--mono-bold: 500 14px 'Inconsolata', monospace;
	--sans-normal: 300 13px 'IBM Plex Sans', sans-serif;
	--sans-title: 400 15px 'IBM Plex Sans', sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	background: var(--main-bg);
	color: var(--main-fg);
	font: var(--sans-normal);
	line-height: 1.5em;
	margin: 0;
}
h1 {
	font: var(--sans-title);
	/* font-size: 16px; */
	padding: 12px;
	margin: 0px -12px 8px;
	background: var(--header-bg);
}
input[type='number'] {
	-moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
summary {
	font: var(--sans-title);
	font-size: 11px;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	padding: 8px 20px;
	margin: 16px -12px 12px;
	background: var(--header-bg);
	position: relative;
}
summary:hover {
	background: rgba(0, 0, 0, 0.15);
}
summary .section-title {
	position: absolute;
	left: 40px;
	top: 8px;
}
a {
	color: #fff;
}
.btn {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	color: var(--main-fg);
	display: inline-block;
	margin-right: 6px;
	padding: 5px 12px;
	text-decoration: none;
}
#editor {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 320px;
	top: 0;
}
#editor textarea {
	height: 100%;
	width: 100%;
}
.CodeMirror {
	background: var(--main-bg);
	color: var(--main-fg);
	font: var(--mono-normal);
	height: 100%;
	line-height: 1.3em;
	padding: 12px;
	width: 100%;
}
.CodeMirror .CodeMirror-gutters {
	background: var(--main-bg);
	border-right: 14px solid var(--main-bg);
}
.CodeMirror .CodeMirror-linenumber {
	color: var(--dark-gray);
}
.CodeMirror .CodeMirror-selected {
	background: #283655;
}
.CodeMirror .CodeMirror-cursor {
	border-left: 1px solid #ffffec;
}
.CodeMirror .cm-comment {
	color: var(--dark-gray);
}
.CodeMirror .cm-keyword {
	color: #fff;
}
.CodeMirror .cm-variable-2 {
	color: var(--pink);
}
.CodeMirror .cm-variable-3 {
	color: var(--orange);
}
.CodeMirror .cm-operator {
	color: var(--light-gray);
}
.CodeMirror .cm-string {
	color: var(--green);
}
.CodeMirror .cm-number {
	color: var(--light-blue);
}
.CodeMirror .bibtex-error {
	background: var(--red);
	color: white;
	font: var(--mono-bold);
}
#sidebar {
	background: rgba(154, 199, 255, 0.2);
	bottom: 0;
	box-shadow: 0 0 7px #000;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
	width: 320px;
	z-index: 10;
}
#sidebar form {
	flex: 1 1 auto;
	overflow: auto;
	padding: 0 12px 200px 12px;
}
#sidebar .run {
	flex: 0 0 auto;
}
#sidebar #tidy {
	background: var(--blue);
	border: 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
	color: #fff;
	font: var(--sans-title);
	font-size: 21px;
	height: 60px;
	width: 100%;
}
#sidebar #tidy[disabled] {
	background: var(--dark-gray);
	color: transparent;
	position: relative;
}
#sidebar #tidy[disabled]:after {
	animation: pulse 0.9s infinite linear;
	background: #fff;
	border-radius: 50%;
	content: '';
	height: 20px;
	left: 140px;
	position: absolute;
	top: 22px;
	width: 20px;
}
@keyframes pulse {
	0% {
		transform: translateX(-80px) scale(0);
	}
	35% {
		transform: translateX(-40px) scale(0.85);
	}
	50% {
		transform: translateX(0px) scale(1);
	}
	65% {
		transform: translateX(40px) scale(0.85);
	}
	100% {
		transform: translateX(80px) scale(0);
	}
}
#sidebar label {
	display: block;
	margin: 8px 0;
	padding-left: 28px;
	position: relative;
	width: 100%;
}
#sidebar label input[type='checkbox'],
#sidebar label input[type='radio'] {
	left: 0;
	position: absolute;
	top: 0;
}
#sidebar label .suboptions {
	display: none;
	font-size: 13px;
	margin: 4px 0 18px;
}
#sidebar code {
	font-size: 0.9em;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.1);
	color: var(--light-gray);
	padding: 1px 4px;
	border-radius: 3px;
}
.suboptions textarea {
	resize: vertical;
	width: 100%;
	height: 100px;
	padding: 4px 5px;
}
.suboptions textarea,
.suboptions input {
	font: var(--mono-normal);
	border: 0;
	border-radius: 3px;
	min-height: 24px;
	font-size: 15px;
}
#sidebar input[type='number'] {
	display: inline-block;
	width: 62px;
}
#sidebar textarea[name='omit'] {
	height: 50px;
}
#sidebar textarea[name='sortkeys'] {
	height: 25px;
}
#sidebar textarea[name='sortpkeys'] {
	height: 80px;
}
#feedback {
	background: var(--green);
	color: #fff;
	display: none;
	font-size: 15px;
	padding: 12px;
}
.error #feedback {
	background: var(--red);
}
#result {
	opacity: 0;
}

#cli {
	display: block;
	padding: 8px;
	word-wrap: break-word;
}

#cli .opt-name {
	color: var(--green);
}
#cli .opt-val {
	color: var(--orange);
}

.keyvalue input {
	margin-left: 8px;
}
